<?xml version='1.0' encoding='utf-8'?>
<widget id="com.icebirds" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IceBirds</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <icon src="res/logo.png"/>
	<preference name="orientation" value="portrait" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="5000" />
	<platform name="android">
		<splash src="res/screen/splash"/>
	</platform>
	<access origin="*" />

</widget>
