<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="css/autocomplete.css">

        <link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
        <link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
        <link rel="stylesheet" href="css/mobile-angular-ui-desktop.min.css" />
        <link rel="stylesheet" href = "css/angular-carousel.css" />

        <link rel="stylesheet" href="css/Font-Awesome-master/css/font-awesome.css" />
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/mobile-angular-ui.min.js"></script>
        <script src="js/autocomplete.js"></script>
        <script src="js/ng-cordova.min.js"></script>
        <script src="js/angular-carousel.min.js"></script>
        <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="cordova.js"></script>

        <script type="text/javascript" src="js/index.js"></script>
        <title>HomeDelivery</title>
    </head>
    <body ng-app="IceBirds">

        <div class="sidebar sidebar-left" ng-controller="sideBarController" ng-show="loggedIn" toggleable parent-active-class="sidebar-left-in" id="mainSidebar" ng-swipe-left="Ui.turnOff('uiSidebarLeft')">

                <h1 class="app-name"  >{{userName}}</h1>

                <div class="scrollable">
                  <div class="scrollable-content">
                    <div class="list-group " toggle="off" bubble target="mainSidebar">
                      <a class="list-group-item" ng-click="clicked(4)"><i class="fa fa-shopping-cart pull-left" style="margin-top:5px;margin-right:10px"></i>Cart</a>
                      <a class="list-group-item" ng-click="clicked(5)"><i class="fa fa-sign-out pull-left" style="margin-top:5px;margin-right:10px"></i>SignOut</a>

                    </div>

                  </div>
                </div>

        </div>
        <div class="sidebar sidebar-right" style="background:#fff" ng-show="loggedIn" toggleable parent-active-class="sidebar-right-in" ng-swipe-right="Ui.turnOff('uiSidebarRight')">

                <h1 class="app-name back" >Order Summary</h1>
                <div class="scrollable">
                  <div class="scrollable-content">
                    <div class="list-group" toggle="off" bubble target="mainSidebar">
                        <a class="list-group-item" ng-click="toggle()">
                                <h4 style="display:inline-block;"> Ordered Items</h4>
                                <i class="fa fa-2x" ng-class="orderedOpen?'fa-caret-up':'fa-caret-down'" style="display:inline-block;float:right"></i>
                            </a>
                    </div>
                    <div class="" ng-repeat="cart in showCart" ng-show="orderedOpen">
                        <h3 style="color:#555"> {{cart.hotel.HT_NAME}}</h3>
                        <div class="list-group" toggle="off" bubble target="mainSidebar">
                            <a class="list-group-item" ng-repeat="foodItem in cart.items" ng-click="updateOrder(foodItem,cart.hotel)">
                                <h4 style="display:inline-block">{{foodItem.item.FI_NAME}}</h4>
                                <span style="float:right">
                                    <span style="font-weight:bold">{{foodItem.qty}}&nbsp;
                                            <i class="fa fa-close"></i> &nbsp; <i class="fa fa-rupee"></i>{{foodItem.item.FI_PRICE}}</span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="billDetails" style="background:#fff">
                        <h3 class="back" style="color:#fff">Bill Details</h3>
                        <table class="itemsTable" style="width:95%;margin-left:5%;color:#555;font-weight:bold">
                            <tr class="cartRow">
                                <td>Billing Amount</td>
                                <td><i class="fa fa-rupee"></i> {{totalBill}}</td>
                            </tr>
                            <tr  class="cartRow">
                                <td>Taxes</td>
                                <td><i class="fa fa-rupee"></i> 0</td>
                            </tr>
                            <tr  class="cartRow">
                                <td>Packaging</td>
                                <td><i class="fa fa-rupee"></i> 0</td>
                            </tr>
                            <tr  class="cartRow">
                                <td>Delivery Charges</td>
                                <td><i class="fa fa-rupee"></i> 0</td>
                            </tr>
                            <tr  class="cartRow">
                                <td>Discount</td>
                                <td><i class="fa fa-rupee"></i> 0</td>
                            </tr>
                            <tr  class="cartRow" style="border-top:1px solid #555;">
                                <td style="padding-top:10px">Total Amount</td>
                                <td style="padding-top:10px"><i class="fa fa-rupee"></i> {{totalBill}}</td>
                            </tr>

                        </table>
                        <button class="letsGo" ng-click="proceed()" data-style="expand-right" style="width:100%;background:rgb(1,178,1)">
                            Proceed To CheckOut
                        </button>
                    </div>

                  </div>
                </div>

        </div>
        <div >
          <div class="modal" ui-if="modal1" ui-state='modal1'>
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
              <div class="modal-content" ng-controller="modal1Controller">
                <div class="modal-header">
                  <button class="close" ui-turn-off="modal1">&times;</button>
                  <h4 class="modal-title" style="text-align:center">Add Item to Cart</h4>
                  <h4 class="modal-title" style="text-align:center">{{item.FI_NAME}}</h4>
                </div>
                <div class="modal-body">
                   <div style="display:inline-block">
                        <h4 style:"display:inline-block;"> Quantity:</h4>
                    </div>
                    <button value="-" class="pressButton" ng-click="dec()">-</button>
                    <input bs-form-control="" type="number" min="1" max="50" ng-model="quantity" ng-init = "quantity = 1" label="Quantity" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" id="qty">
                    <button value="+" class="pressButton" ng-click="inc()">+</button>
                </div>
                <div class="modal-footer">
                  <button ui-turn-off="modal1" class="btn btn-default">Cancel</button>
                  <button ng-click="clicked()"class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div >
          <div class="modal" ui-if="modal2" ui-state='modal2'>
            <div class="modal-backdrop in"></div>
            <div class="modal-dialog">
              <div class="modal-content" ng-controller="modal2Controller">
                <div class="modal-header">
                  <button class="close" ng-click="close()">&times;</button>
                  <h4 class="modal-title" style="text-align:center">Update Item in Cart</h4>
                  <h4 class="modal-title" style="text-align:center">{{$root.cartHotel.HT_NAME}}&nbsp; -&nbsp; {{$root.cartFoodItem.item.FI_NAME}}</h4>
                </div>
                <div class="modal-body">
                    <div style="display:inline-block">
                        <h4 style:"display:inline-block;"> Quantity:</h4>
                    </div>
                    <button value="-" class="pressButton" ng-click="dec()">-</button>
                    <input bs-form-control="" type="number" min="1" max="50" ng-model="$root.cartFoodItem.qty" ng-init = "quantity = 1" label="Quantity" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" id="qty">
                    <button value="+" class="pressButton" ng-click="inc()">+</button>
                </div>
                <div class="modal-footer">
                  <button ng-click="remove()" class="btn btn-default">Remove</button>
                  <button ng-click="update()"class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="modal modal-overlay" ui-if='modal3' ui-state='modal3'>
            <div class="modal-dialog">
              <div class="modal-content" ng-controller="checkoutController">
                <div class="modal-header">
                  <button class="close"
                          ui-turn-off="modal3">&times;</button>
                  <h3 class="modal-title" style="text-align:center">Order Checkout</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <h4 style="display:inline-block">Amount to pay</h4><span style="float:right;margin-right:20%"><h3 style="display:inline-block"><i class="fa fa-rupee"></i>{{$root.totalBill}}</h3></span>
                    </div>
                    <div class="form-group row">
                        <h4 style="display:inline-block">Name</h4><span style="float:right;margin-right:20%"><h4 style="display:inline-block">{{$root.userName}}</h4></span>
                    </div>
                    <div class="form-group row">
                        <h4>Address</h4>
                    <div class="form-control-wrapper col-xs-12 col-sm-12 col-lg-11">
                        <input bs-form-control="" ng-model="deliveryAddress" label="Address" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control textBoxBottom" placeholder="Address" id="deliveryAddress">
                    </div>
                    </div>
                    <div class="form-group row">
                        <h4 style="display:inline-block">Mobile Number</h4><span style="float:right;margin-right:20%"><h4 style="display:inline-block">{{$root.mobileNumber}}</h4></span>
                    </div>
                    <h4>Terms and Conditions</h4>
                    <ul>
                        <li>Order once placed cannot be cancelled</li>
                        <li>Food will be delivered within 40 mins of the order checkout</li>
                        <li>Delivery duration may change depending on the distance of place of delivery</li>
                    </ul>

                </div>
                <div class="modal-footer">
                  <button ui-turn-off="modal3" class="btn btn-default">Cancel</button>
                  <button ng-click="confirmed()" class="btn btn-primary">Confirm Delivery</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app" ng-swipe-right="Ui.turnOn('uiSidebarLeft')" ng-swipe-left="Ui.turnOn('uiSidebarRight')">

            <div class="brandBar navbar navbar-app navbar-absolute-top">
                <div class="btn-group pull-left">
                      <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle menu">
                        <i class="fa fa-bars"></i>
                      </div>
                </div>
                <div class="navbar-brand" yield-to="title" style="font-size:20px;">
                    <span>{{title}}</span>
                </div>



                <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-show="$root.loggedIn">

                    <span class="card" ui-toggle="uiSidebarRight">{{$root.itemsQty}}</span>
                    <div ui-toggle="uiSidebarRight" class="btn ng-scope" style="color:white">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                </div>

            </div>

            <div class="brandBar navbar navbar-app navbar-absolute-bottom" ng-controller="bottomNavBarController">

                <div class="btn-group justified nav-tabs" ng-hide="loggedIn" >
                    <a href="#/login" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-sign-in" style="margin-right:5px"></i>Sign In</a>
                    <a href="#/register" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-chevron-circle-up" style="margin-right:5px"></i>Sign Up</a>
                </div>

                <div class="btn-group justified nav-tabs" ng-show="loggedIn" >
                    <a href="#/home" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-home" style="margin-right:5px"></i>Home</a>
                    <a href="#/map" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-globe" style="margin-right:5px"></i>Map</a>
                    <a href="#/order" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-list" style="margin-right:5px"></i>Menu</a>
                    <a href="#/aboutUs" class="btn btn-default btn-icon-only" style="color: white" toggle="on" active-class="active"><i class="fa fa-at" style="margin-right:5px"></i>About Us</a>
                </div>

            </div>
            <div class="app-body">
                <div ng-show="loading" class="app-content-loading">
                    <div class="spinOpacity"></div>
                    <i class="fa fa-spinner fa-spin loading-spinner"></i>
                </div>
                <div ng-view class="abc"></div>

            </div>


        </div>
    </body>
</html>
