<div id="home">
    
    <div class="topPanelWrapper">
        <div class="topPanel">
            <input bs-form-control="" g-places-autocomplete ng-model="area" type="text" spellcheck="false" autocomplete="off" label="Search" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control searchBox" placeholder="Search By Area"/>
            <button id="btnSignIn" class="letsGo" data-style="expand-right" ng-click="centerMap()" style="display:inline-block">
                Let's Go
            </button>
        </div>
    </div>
    <div id="map"></div>

</div>